services:

  db:
    image: postgres:15
    container_name: grid_app_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      # 開発
      dockerfile: Dockerfile.dev
      # 本番
      # dockerfile: Dockerfile
    container_name: grid_app_backend
    env_file:
      - .env
    volumes:
      - ./backend:/backend
    working_dir: /backend
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      TZ: Asia/Tokyo

  frontend:
    build:
      context: ./frontend
      # 開発
      dockerfile: Dockerfile.dev
      # 本番
      # dockerfile: Dockerfile
    container_name: grid_app_frontend
    env_file:
      - .env
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules
    working_dir: /frontend
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true # ホストとコンテナ間のファイル変更検知を安定させる
    depends_on:
      - backend

volumes:
  postgres:


